---
title: Retro Computer Dresden
location: Zwinglistr. 25 01219 Dresden
layout: layouts/home.njk
image: /img/IMG_1874.JPG
description: Hier findest du eine Übersicht der Veranstaltungen des Retro Computer Dresden e.V. 
date: Last Modified
eleventyNavigation:
  key: Events
  order: 2
---
<div id="events">
  <h2>Veranstaltungen des Vereins</h2>
  {% set eventslist = collections.events %}
  {% include "eventslist.njk" %}
</div>