---
title: Retro Computer Dresden e.V.
layout: layouts/home.njk
description: Unser Verein in Dresden restauriert klassische Computer, organisiert Retropartys und bietet eine Plattform für Retro-Fans, um Wissen und Technik rund um Retrocomputing und -gaming zu teilen und zu erleben.
image: /img/bg.webp
slug: Wir
date: Last Modified
---

<img src="/img/rcd_room.jpeg" alt="Vereinsraum RCD" title="Vereinsraum RCD">
<p>
  Der Verein <a href="/posts/Wer sind wir"><i>Retro Computer Dresden e.V.</i></a> wurde Anfang 2023 gegründet und hat seither einen festen, barrierefreihen Vereinstandort in Dresden Gruna. Wir haben inzwischen über 30 Systeme nutzbar im Betrieb und haben jeden Mittwoch für die Öffentlichkeit geöffnet. Wir veranstalten regelmäßig Events vom Kindergeburtstag über Race Days bis zu unserer legendären Retro Party. 
</p>
<h3>
  Werde Mitglied bei RCD!
</h3> 
<p>
  Du liebst Retro-Computer, klassische Spiele und möchtest aktiv zur Erhaltung dieser faszinierenden Technik beitragen? Dann werde für 10€ monatlich Mitglied in unserem Verein! Als Mitglied hast du die Möglichkeit, unsere Vereinsräume für private Veranstaltungen zu nutzen, am wöchentlichen Retrocomputer-Stammtisch teilzunehmen und dich mit Gleichgesinnten auszutauschen. Außerdem unterstützt du eine gute Sache: Gemeinsam sorgen wir dafür, dass alte Systeme und ihre Geschichte lebendig bleiben.
</p>
<a href="https://web.meinverein.de/profile/65302" target="_new">Zur Anmeldung</a>
<p>
  <b>Noch kein Mitglied beim Verein?</b> Kein Problem! Jeder ist herzlich willkommen, Mittwochs ab 18 Uhr bei uns <a href="/about/">reinzuschauen</a>. Wir freuen uns auf deinen Besuch!
</p>
<div id="events">
  <h2>Aktuelle Veranstaltungen</h2>
  {% set eventslist = collections.events %}
  {% include "eventslist.njk" %}
</div>

<div id="posts">
  <h2>Beiträge</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>