<ul>
{% for post in postslist | reverse %}
  <li class="postsrow">
      <a href="{{ post.url | url }}">
        <h3>{{post.data.title}}</h3>
      </a>
      <p>{{post.data.description}} ({{post.data.date | readableDate}})</p>
      <p><a href="{{ post.url | url }}">... mehr</a></p>
  </li>
{% endfor %}
</ul>