---
title: Retro Computer Dresden
location: Zwinglistr. 25 01219 Dresden
layout: layouts/home.njk
description: Bei uns werkeln kluge Köpfe als Freunde zusammen. Gemeinsam stecken wir viel Freude und Leidenschaft in unser Projekt, das zeichnet uns aus.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
eleventyNavigation:
  key: Events
  order: 2
---
<div id="events">
  <h2>Neues</h2>
  {% set eventslist = collections.events %}
  {% include "eventslist.njk" %}
</div>