---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
{{ content | safe }}

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ title }}",
  "image": "{{ image }}",
  "author": {
    "@type": "Organization",
    "name": "Retro Computer Dresden e.V."
  },
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ metadata.url }}/img/favicon/favicon-192x192.png"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
